html, body {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

.notes {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.notes__nav {
    padding: 5px 10px;
    background-color: #eee;
}

.notes__content {
    padding: 5px 10px;
    flex: 1;
    border: 0;
    resize: none;
    outline: 0;
}